script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J6NQLY7PN6')
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-J6NQLY7PN6');

// GLOBAL
meta(charset="UTF-8")
meta(http-equiv="content-type" content="text/html")
meta(http-equiv="content-language" content="en-US")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="robots" content="max-image-preview:large")
meta(name="rating" content="general")

//- CANONICAL
- const canonicalUrl = (canonical === "defaultCanonical") ? "https://celiopires.com/" : pageCanonical
meta(rel="canonical", href=canonicalUrl)


meta(name="author" content="Célio Pires")
link(rel="icon" type="image/png" href="https://celiopires.com/assets/images/favicon.png")

//- GLOBAL PAGE TITLE
case pageTitle
	when "defaultTitle"
		- const defaultTitle="Célio Pires" 
		title #{defaultTitle}
	default
		title #{pageTitle}

//- GLOBAL PAGE DESCRIPTION
case description
	when "defaultDescription"
		- const defaultDescription="Product designer passionate about technology and surely growing an obsession for creating, scaling and maintaining design systems." 
		meta(name="description" content=defaultDescription)
	default
		meta(name="description" content=description)

// FACEBOOK
meta(property="og:type" content="website")

//- FACEBOOK PAGE TITLE
case facebookTitle
	when "defaultFacebookTitle"
		- const defaultFacebookTitle="Célio Pires" 
		meta(property="og:title" content=defaultFacebookTitle)
	default
		meta(property="og:title" content=facebookTitle)

//- FACEBOOK PAGE DESCRIPTION
case facebookDescription
	when "defaultFacebookDescription"
		- const defaultFacebookDescription="Product designer passionate about technology and surely growing an obsession for creating, scaling and maintaining design systems." 
		meta(property="og:description" content=defaultFacebookDescription)
	default
		meta(property="og:description" content=facebookDescription)

//- FACEBOOK PAGE TIMAGE
case facebookImage
	when "defaultFacebookImage"
		- const defaultFacebookImage="https://celiopires.com/assets/images/about/celio-photo-square.jpg?v=002.002" 
		meta(property="og:image" content=defaultFacebookImage)
	default
		meta(property="og:image" content=facebookImage)

// Twitter
meta(name="twitter:card" content="summary_large_image")
//- TWITTER PAGE TITLE
case twitterTitle
	when "defaultTwitterTitle"
		- const defaultTwitterTitle="Célio Pires" 
		meta(name="twitter:title" content=defaultTwitterTitle)
	default
		meta(name="twitter:title" content=twitterTitle)

//- TWITTER PAGE DESCRIPTION
case twitterDescription
	when "defaultTwitterDescription"
		- const defaultTwitterDescription="Product designer passionate about technology and surely growing an obsession for creating, scaling and maintaining design systems." 
		meta(name="twitter:description" content=defaultTwitterDescription)
	default
		meta(name="twitter:description" content=twitterDescription)

//- TWITTER PAGE TIMAGE
case twitterImage
	when "defaultTwitterImage"
		- const defaultTwitterImage="https://celiopires.com/assets/images/about/celio-photo-square.jpg" 
		meta(name="twitter:image" content=defaultTwitterImage)
	default
		meta(name="twitter:image" content=twitterImage)

meta(name="twitter:site" content="@celiows")

// Styles and JS
meta(http-equiv="content-script-type" content="text/javascript")
meta(http-equiv="content-style-type" content="text/css")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css")
link(rel="stylesheet" href="assets/css/styles.css?v=002.046")